{% extends 'hostel/h_base.html' %}
{% block content %}

<div class="container mt-5" style="max-width:400px;">
    <h4 class="mb-3">Enter Password</h4>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">

        <input type="password" name="password" class="form-control mb-3" placeholder="Password">

        <button class="btn btn-primary w-100">Enter</button>
    </form>
</div>

{% endblock %}