<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'checkin' %}"><h2 style="font-weight:bold;">Hostel</h2></a>

        <!-- --------------------------  -->
        <!-- Navigation: Normal display, screen -->
        <!-- --------------------------  -->
        <div class="" id="">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/checkin/' %}active{% endif %}" href="{% url 'checkin' %}">
                        Check-In
                    </a>
                </li>
                <!-- --------------------------  -->
                <!-- Log in/out & Register  -->
                <!-- --------------------------  -->
                {% if user.is_authenticated == False %}
                <li class="nav-item me-5">
                    <a class="nav-link {% if request.path == '/login/' %}active{% endif %}" href="{% url 'google' %}">
                        Login
                    </a>
                </li>

                <!-- --------------------------  -->
                <!-- logout  -->
                <!-- --------------------------  -->
                <li class="nav-item">
                    <a class="nav-link me-4" href="{% url 'logout' %}">
                        Logout
                    </a>
                </li>
                {% endif %}
                <!-- --------------------------  -->
                <!-- End  -->
                <!-- --------------------------  -->
            </ul>

            <!-- END  -->
        </div>
    </div>
</nav>
