<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'language' %}"><h2 style="font-weight:bold;">Hostel</h2></a>

        <!-- --------------------------  -->
        <!-- Navigation: Normal display, screen -->
        <!-- --------------------------  -->
        <div class="" id="">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/checkin/' %}active{% endif %}" href="{% url 'checkin' %}">

                    </a>
                </li>
            </ul>

            <!-- END  -->
        </div>
    </div>
</nav>
