{% extends 'hostel/h_base.html' %}
{% block content %}
{% load custom_tags %}
<div class="container">
  <div class="row g-3">
    <div class="col-6"><h1>{{ guest.givenname }} {{ guest.surname }}</h1></div>
    <div class="col-3">{{ guest.country }}</div>
    <div class="col-3">{{ guest.platform }}.com</div>
  </div>
  <hr>
  <div class="row g-3">
    {% for term in terms %}
    <div class="col-3">
    {{ term.question }} <br>
    << {{ answers|get_item:term.id|stringformat:"s" }} >>
    </div>
    {% endfor %}
  </div>
  <hr>
  <div class="row g-3">
    <div class="col-12">
      <img src="{{ guest.passport.url }}" width="100%">
    </div>
  </div>
</div>

{% endblock %}