{% extends 'hostel/h_base.html' %}
{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<h5>Step {{ step }} of {{ total }}</h5>

<h3>{{ term.question }}</h3>

<form method="POST">
  {% csrf_token %}

  <div class="form-check">
    <input type="radio" name="answer" value="no" required>
    <label>No</label>
  </div>

  <div class="form-check">
    <input type="radio" name="answer" value="yes">
    <label>Yes</label>
  </div>

  <br>
  <button type="submit" class="btn btn-primary">Next</button>
</form>
{% endblock %}