{% extends 'hostel/h_base.html' %}
{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger text-center" style="font-weight:bold; color:#006">
      <h1>{{ message }} !!!</h1>
      <br>
      <div class="text-center">
      {% if lang == 'zh' %}
        不遵守规则，我们不欢迎
      {% elif lang == 'th' %}
        หากคุณไม่สามารถปฏิบัติตามกฎได้ คุณไม่เป็นที่ต้อนรับ
      {% else %}
        If you can't follow the rules, you're not welcome.
      {% endif %}
</div>
    </div>
  {% endfor %}
{% endif %}


<div class="container">
  <div class="row g-3 mt-3">
    <div class="col-1"></div>
    <div class="col-10 mb-3 text-center">
      <h5 style="color:#999">Step {{ step }} of {{ total }}</h5>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row g-3">
    <div class="col-1"></div>
    <div class="col-10 mb-3 text-start">
      <h1>
      {{ question }}
      </h1>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row g-3 justify-content-center">
  <div class="col-10">
    <form method="POST">
      {% csrf_token %}

      <div class="row">
        <div class="col-6 text-center">
          <button type="submit"
                  name="answer"
                  value="yes"
                  class="btn btn-outline-success w-100">
            Yes
          </button>
        </div>

        <div class="col-6 text-center">
          <button type="submit"
                  name="answer"
                  value="no"
                  class="btn btn-outline-danger w-100">
            No
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
</div>
<br>
<br>
<br>
<br>
{% endblock %}