<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>
     {% block title %}
     {% endblock %}
    </title>
    <style>
       a {
       text-decoration: none;
       color: #444
       }
       .active{
            background-color: #ff0
        }
       body {
       background-color: #fafafa
       }
       pre {
        white-space: pre-line;       /* Since CSS 2.1 */
       }
       .type-des{
        color: #aaa;
        font-size: 12px;
       }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<div class="container-fluid p-0">
    <div class="row border-bottom border-secondary" style="background-color: #eee; height:30px">
        <div class="col d-flex flex-row">
            <div class="ps-2" style="font-size:20px"><a href="{{ url_for('home_page') }}" style="color:#333">Life-Master</a></div>
            <div class="d-flex text-muted ps-2" style="font-size: 10px; height:15px; margin-top:10px">v1.3</div>
        </div>
        <div class="col text-center d-flex justify-content-end">
            {% if current_user.is_authenticated %}
            <div class="pt-1 pe-3"><a class="text-dark" href="{{ url_for('logout_page') }}">Logout</a></div>
            {% else %}
            <div class="pe-3 pt-1"><a class="text-dark" href="{{ url_for('register_page') }}">Register</a></div>
            <div class="pe-3 pt-1"><a class="text-dark" href="{{ url_for('login_page') }}">Login</a></div>
            {% endif %}
        </div>
    </div>
</div>

{% block nav %}
{% endblock %}

<div class="container-fluid p-0">
    <div class="row">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}

                <div class="col-12 pt-1 alert alert-{{ category }} alert-dismissible fade show" style="height:35px" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close pt-1" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

            {% endfor %}
        {% endif %}
       {% endwith %}
    </div>
</div>
{% block js %}
{% endblock %}
{% block content %}
{% endblock %}

      <!-- Future Content here -->

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
</body>
</html>