{% extends 'nav_english.html' %}
{% block title %}
Note Input
{% endblock %}
{% block content %}
<form method="POST" class="form-form-signin">
   {{ form.hidden_tag() }}

   <div class="container-fluid p-0 text-center">
      <div class="row px-1 mx-1 mt-2">
         <div class="col-12 py-1 text-start">
            <label for="eng" class="fw-bold">English</label>
            <input class="form-control" name="eng" id="eng" placeholder="English word">
            <br>
            <label for="eng2" class="fw-bold">ENG 2</label>
            <input class="form-control" name="eng2" id="eng2" placeholder="English word">
            <br>
            <!--<label for="eng2-a" class="fw-bold">ENG 2 - annotation</label>
            <input class="form-control" name="eng2_a" id="eng2-a" placeholder="English word">
            -->
         </div>

         <strong class="text-start pt-2">Type:</strong>
         {% for t in types %}
         <div class="col-3 text-start form-check-group pt-1">
            <input class="form-check-input" type="checkbox" name="type" onclick="PutText{{t.id}}()" value="{{t.type}}" id="type_{{ t.type }}">
            <label class="form-check-label" for="type_{{ t.type }}">{{ t.type }}</label>
         </div>
         {% if t.type[-1] == '.' %}
         <script type="text/javascript">
            function PutText{{t.id}}() {
               if (document.getElementById('type_{{ t.type }}').checked) {
                  document.getElementById("meaning").value += "\n\n" + "{{t.type}} \n1. " + "\n" +"- \n";
               }

            }
         {% endif %}
         </script>
         {% endfor %}

          <div class="col-12 text-start pt-3">
             {% autoescape false %}
             <strong>Meaning:</strong> <textarea class="form-control" id="meaning" autocomplete="off" name="meaning" rows="10">{{ record.meaning }}</textarea>
          </div>
         {% endautoescape %}
          <div class="col-12 py-2 text-start">
             <button type="submit" id="submit" class="btn btn-primary">Sumbit</button>
          </div>
      </div>
   </div>

</form>
<script type="text/javascript">
    document.getElementById("eng").value = "{{ record.lan }}";
    document.getElementById("eng2").value = "{{ record.lan2 }}";

    {% for i in checked %}
    document.getElementById("type_{{ i }}").checked = true;
    {% endfor %}

    var input = document.getElementById('meaning');
    input.focus();
    input.select();

    document.onkeyup = function(e) {
        if (e.ctrlKey && e.which == 13) { //ctr +b
          document.getElementById("submit").click();
        }
   };

</script>
{% endblock %}