{% extends 'nav_english.html' %}
{% block title %}
Records
{% endblock %}
{% block js %}
<script type="text/javascript">
   document.getElementById("lan22").style.backgroundColor = "#fff";
   document.getElementById("lan22").firstChild.style.color = "#000";
   document.getElementById("lan22").firstChild.style.fontWeight = "bold"
</script>
{% endblock %}
{% block content %}
<div class="col-12 text-end pe-2">
   <a href="{{ url_for('download_page', i='eng') }}">⇩</a>
</div>

<div class="container">
<div class="row">
<div class="col-12 text-center pt-2">
   <a href="{{ url_for('lan_English_records_page', page=records.prev_num) }}"
   class="btn btn-sm btn-outline-secondary" style="{% if records.page == 1 %}display:none{% endif %}">
&laquo;
</a>
<!-- Loop through the number of pages to display a link for each-->
{% for page_num in records.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
   {% if records.page == page_num %}
      <a href="{{ url_for('lan_English_records_page', page=page_num) }}"
         class="btn btn-sm btn-secondary">
         {{ page_num }}
      </a>
   {% else %}
      <a href="{{ url_for('lan_English_records_page', page=page_num) }}"
         class="btn btn-sm btn-outline-secondary">
         {{ page_num }}
      </a>
   {% endif %}
{% else %}
...
{% endif %}
{% endfor %}
   <a href="{{ url_for('lan_English_records_page', page=records.next_num) }}"
      class="btn btn-sm btn-outline-secondary"
      style="{% if records.page == records.pages %}display:none{% endif %}">
   &raquo;
   </a>
</div>
</div>
</div>
   <form id="my_form" method="POST" class="form-register">
{{ form2.hidden_tag() }}

<div class="container-fluid p-0 pt-1">
   {% for record in records.items %}

<div class="row border mt-1">
   <div class="col-12 ps-4 pt-2">
      {% if current_user.id == 1 %}
      <a href="{{ url_for('lan_English_edit_page', idk = record.id) }}">
         <button type="button"
                 style="border:none;
                 background-color: #4CAF50;
                 color: white;
                 font-weight:bold;
                 font-size: 20px;"
         >{{ record.lan2 }}</button>
      </a>
      {% else %}

      <a href="">
         <button type="button"
                 style="border:none;
                 background-color: #4CAF50;
                 color: white;
                 font-weight:bold;
                 font-size: 20px;"
         >{{ record.lan2 }}</button>
      </a>
      {% endif %}
      <span style="color:#666; font-size:14px;">{{ record.lan }} ({{ record.type.replace('-','  ') }})</span>
      <div style="float: right; font-size: 10px; margin-right:10px; text-align:right;">{{record.id}}</div>
   </div>

   <div class="col">
      <input style="display:none" name="del_id" id="ch{{ record.id }}" type="radio" value="{{ record.id }}">
      <a style="display:none" href="javascript:{}" onclick="
                  document.getElementById('ch{{ record.id }}').checked = true;
                  document.getElementById('my_form').submit();
                  ">
         delete
      </a>
   </div>
   <div class="col-12 mt-3 ps-5">
      <pre style="font-family:'arial';color:#555; font-size:16px">
      {{ record.meaning }}
         </pre>
   </div>


</div>

         {% endfor %}
</div>

            </form>
<div class="container">
<div class="row">
<div class="col-12 text-center pt-2">
   <a href="{{ url_for('lan_English_records_page', page=records.prev_num) }}"
   class="btn btn-sm btn-outline-secondary" style="{% if records.page == 1 %}display:none{% endif %}">
&laquo;
</a>
<!-- Loop through the number of pages to display a link for each-->
{% for page_num in records.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
   {% if records.page == page_num %}
      <a href="{{ url_for('lan_English_records_page', page=page_num) }}"
         class="btn btn-sm btn-secondary">
         {{ page_num }}
      </a>
   {% else %}
      <a href="{{ url_for('lan_English_records_page', page=page_num) }}"
         class="btn btn-sm btn-outline-secondary">
         {{ page_num }}
      </a>
   {% endif %}
{% else %}
...
{% endif %}
{% endfor %}
   <a href="{{ url_for('lan_English_records_page', page=records.next_num) }}"
      class="btn btn-sm btn-outline-secondary"
      style="{% if records.page == records.pages %}display:none{% endif %}">
   &raquo;
   </a>
</div>
</div>
</div>
{% endblock %}
