{% extends 'nav_english.html' %}
{% block title %}
Input English
{% endblock %}

{% block js %}
<script type="text/javascript">
   document.getElementById("lan4").style.backgroundColor = "#fff";
   document.getElementById("lan4").firstChild.style.color = "#000";
   document.getElementById("lan4").firstChild.style.fontWeight = "bold"
</script>
{% endblock %}

{% block content %}
<div class="container-fluid p-0 text-center">
    <div class="row border border-dark px-1 mx-1 mt-2">
        <form method="POST" class="form-form-signin">
        {{ form.hidden_tag() }}
        <div class="col-12 pt-4 pb-2 text-start">
            <label for="type" class="fw-bold">Type</label>
            <input class="form-control" name="type" id="type" placeholder="...">
            <br>
            <label class="fw-bold">Language</label>
            <br>
            <div class="form-check">
                <input checked class="form-check-input" type="radio" name="language" id="english" value="english">
                <label for="english" class="form-check-label">English</label>
            </div>
        </div>
        <div class="col-12 py-2 pb-4 text-start">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
        </form>
    </div>
</div>


<div class="container-fluid p-0">
   <form method="POST" class="form-register">
      {{ form2.hidden_tag() }}
      <div class="row row border border-dark px-1 mx-1 mt-2 pb-2">
         <div class="col-6 px-1">
            <table class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th>Type</th>
                  </tr>
               </thead>
               <tbody>
                  {% for tag in tags %}
                  <tr>
                     {% if tag.id%2 == 0 %}
                     <td><input type="radio" id="{{ tag.type }}" name="selecting_tag" value="{{ tag.type }}"></td>
                     <td style="color:#aaa">{{ tag.type }}</td>
                     {% endif %}
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         <div class="col-6 px-1">
            <table class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th>Type</th>
                  </tr>
               </thead>
               <tbody>
                  {% for tag in tags %}
                  <tr>
                     {% if tag.id%2 == 1 %}
                     <td><input type="radio" id="{{ tag.type }}" name="selecting_tag" value="{{ tag.type }}"></td>
                     <td style="color:#aaa">{{ tag.type }}</td>
                     {% endif %}
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         <div class="col-12 pb-5">
            <input type="hidden" name="submit" value="1">
            {{ form2.submit(class="btn btn-block btn-danger", value="Delete Tag") }}
         </div>
      </div>
   </form>
</div>
{% endblock %}