{% extends 'nav_thai.html' %}
{% block title %}
Note Input
{% endblock %}
{% block content %}
<form method="POST" class="form-form-signin">
   {{ form.hidden_tag() }}

   <div class="container-fluid p-0 text-center">
      <div class="row px-1 mx-1 mt-2">
         <div class="col-12 py-1 text-start">
            <label for="thai" class="fw-bold">Thai</label>
            <input class="form-control" name="thai" id="thai" placeholder="Thai word">
            <br>
            <label for="thai2" class="fw-bold">Thai 2</label>
            <input class="form-control" name="thai2" id="thai2" placeholder="Thai word">
            <br>
            <label for="thai2-a" class="fw-bold">Thai 2 - annotation</label>
            <input class="form-control" name="thai2_a" id="thai2-a" placeholder="Thai word">
         </div>

         <strong class="text-start pt-2">Type:</strong>
         {% for t in types %}
         <div class="col-3 text-start form-check-group pt-1">
            <input class="form-check-input" type="checkbox" name="type" value="{{t.type}}" id="type_{{ t.type }}">
            <label class="form-check-label" for="type_{{ t.type }}">{{ t.type }}</label>
         </div>
         {% endfor %}

          <div class="col-12 text-start pt-3">
             {% autoescape false %}
             <strong>Meaning:</strong> <textarea class="form-control" id="meaning" autocomplete="off" name="meaning" rows="5">{{ record.meaning }}</textarea>
          </div>
         {% endautoescape %}
          <div class="col-12 py-2 text-start">
             <button type="submit" class="btn btn-primary">Sumbit</button>
          </div>
      </div>
   </div>

</form>
<script type="text/javascript">
    document.getElementById("thai").value = "{{ record.lan }}";
    document.getElementById("thai2").value = "{{ record.lan2 }}";
    document.getElementById("thai2-a").value = "{{ record.lan2_a }}";

    {% for i in checked %}
    document.getElementById("type_{{ i }}").checked = true;
    {% endfor %}

</script>
{% endblock %}