{% extends 'nav_english.html' %}
{% block title %}
Records
{% endblock %}
{% block js %}
<script type="text/javascript">
   document.getElementById("lan3").style.backgroundColor = "#fff";
   document.getElementById("lan3").firstChild.style.color = "#000";
   document.getElementById("lan3").firstChild.style.fontWeight = "bold"
</script>
{% endblock %}
{% block content %}
<div class="container-fluid px-2 pt-2">
   <div class="row">
      <div class="col-12">
         <table class="table border border-1" style="font-size:24px">
            <thead style="font-size:14px">
               <tr>
                  <!-- Your Columns HERE -->
                  <th scope="col">Level</th>
                  <th scope="col">Symbols</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>L1</td>
                  <td style="font-weight:bold">a, i, u, e, o, x, j</td>
               </tr>

               <tr>
                  <td>L2</td>
                  <td style="font-weight:bold">aa, ii, uu, ee, oo, xx</td>
               </tr>
               <tr>
                  <td>L3</td>
                  <td style="font-weight:bold">ai, ei, ar, xr, or, au, ou</td>
               </tr>
               <tr>
                  <td>L4</td>
                  <td style="font-weight:bold">an, in, un, en, on, xn</td>
               </tr>
               <tr>
                  <td></td>
                  <td style="font-weight:bold">ang, ing, ung, eng, ong, xng</td>
               </tr>
               <tr>
                  <td></td>
                  <td style="font-weight:bold">een, eeng</td>
               </tr>
               <tr>
                  <td>L5</td>
                  <td style="font-weight:bold">al, il, ul, el, ol, xl</td>
               </tr>
               <tr>
                  <td></td>
                  <td style="font-weight:bold">iil, uul, eel, ool</td>
               </tr>
               <tr>
                  <td>L6</td>
                  <td style="font-weight:bold">b, p, d, t, g, k, l, h, n, m</td>
               </tr>
            <tr>
                  <td>L7</td>
                  <td style="font-weight:bold">y, w, r, q, zh, ch, sh, c</td>
               </tr>
            <tr>
                  <td>L8</td>
                  <td style="font-weight:bold">s, z, th, dh, ts, dz, tr, dr</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
{% endblock %}
