{% extends 'nav_english.html' %}
{% block title %}
English
{% endblock %}
{% block js %}
<script type="text/javascript">
   document.getElementById("lan1").style.backgroundColor = "#fff";
   document.getElementById("lan1").firstChild.style.color = "#000";
   document.getElementById("lan1").firstChild.style.fontWeight = "bold"
</script>
{% endblock %}
{% block content %}

<div class="container-fluid p-0 text-center">

    <div class="row border border-dark px-1 mx-1 mt-2">

        <div class="col-6 py-2 text-start">
            <form method="POST" class="form">
                {{ form1.hidden_tag() }}
                <label for="lan">ENG 1.0:</label>
                <textarea class="form-control" name="textarea" rows="5" id="lan"></textarea>
                {{ form1.submit(class="btn btn-block btn-primary mt-1", value="Convert") }}

            </form>
        </div>


        <div class="col-6 py-2 text-start">
            <form method="POST" class="form">
                {{ form2.hidden_tag() }}
                <label for="lan2">Eng 2.0:</label>
                <textarea name="textarea2" class="form-control" rows="5" id="lan2"></textarea>

                {{ form2.submit(class="btn btn-block btn-primary mt-1", value="Convert") }}
            </form>
        </div>

        <!--
        <div class="col-12 py-2 text-start">
            <form method="POST" class="form">

                <label for="lan2_a">Eng2 with Annotation:</label>
                <textarea name="textarea2_a" class="form-control" rows="5" id="lan2_a"></textarea>

            </form>
        </div>
        -->
    </div>
</div>

<span class="form-control" id="lan2-k0" style="display:none">{{ lan }}</span>
<span class="form-control" id="lan2-k1" style="display:none">{{ lan2 }}</span>
<span class="form-control" id="lan2-k2" style="display:none">{{ lan2_a }}</span>



<script type="text/javascript">
    document.getElementById("lan").innerHTML = document.getElementById("lan2-k0").innerHTML;
    document.getElementById("lan2").innerHTML = document.getElementById("lan2-k1").innerHTML;
    document.getElementById("lan2_a").innerHTML = document.getElementById("lan2-k2").innerHTML;
</script>


{% endblock %}