{% extends 'nav_money.html' %}
{% block title %}
In & Out
{% endblock %}

{% block js %}
<script type="text/javascript">
   document.getElementById("money1").style.backgroundColor = "#fff";
   document.getElementById("money1").firstChild.style.color = "#000";
   document.getElementById("money1").firstChild.style.fontWeight = "bold"
</script>
{% endblock %}

{% block content %}
<style>
    .money_input {
        width:130px;
        radius: 40px;

    }
    .money_label{
        width: 50px;
    }
</style>
<form method="POST" class="form-register">
{{ form.hidden_tag() }}
<div class="container-fluid p-0">
    <div class="row pt-3">
{% for type in types %}
        <div class="col-3 border text-center">
        {% if type.symbol=='b' %}
            <input type="radio" id="{{ type.type }}" name="selected_type" checked value="{{ type.symbol }}">
            <label for="{{ type.type }}">{{ type.symbol }}</label><br>
            <label class="type-des" for="{{ type.type }}">{{ type.type }}</label>
        {% else %}
            <input type="radio" id="{{ type.type }}" name="selected_type" value="{{ type.symbol }}">
            <label for="{{ type.type }}">{{ type.symbol }}</label><br>
            <label class="type-des" for="{{ type.type }}">{{ type.type }}</label>
        {% endif %}
        </div>
{% endfor %}
    </div>
</div>

<div class="container text-start">
    <div class="row">
        <div class="col-6 pt-3 pb-2">
            <input id="io_positive" type="radio" name="io" value="1">
            <label for="io_positive">income</label>
            <input id="io_negative" type="radio" checked  name="io" value="-1">
            <label for="io_negative">outcome</label>
            <br>
            <label class="money_label pt-2">Item: </label>
            <input class="money_input" type="text" name="item" placeholder="detail">
            <br>
            <label class="money_label pt-2">Price:</label>
            <input class="money_input" type="text" name="price" placeholder="0.00">
        </div>

        <div class="col-6 pt-3">
            <button type="submit" class="mt-5 btn-sm btn-primary">Submit</button>
        </div>

    </div>
</div>


<div class="container-fluid text-center border border-secondary mt-3" style="width:400px">
    <div class="row text-center">
        <div class="col-12 text-danger pt-3">If the check-out time is not Now, manually input the time. Otherwise leave this calendar blank.</div>
        <div class="col-12">
            <h3>Timezone: {{ timezone[4:10] }}</h3>
        </div>

        <div class="col-12 pt-1 pb-3">

            <input type="datetime-local" name="time_correction">
        </div>
    </div>
</div>

</form>

{% endblock %}


