{% extends 'nav_money.html' %}
{% block title %}
Records
{% endblock %}
{% block js %}
<script type="text/javascript">
   document.getElementById("money2").style.backgroundColor = "#fff";
   document.getElementById("money2").firstChild.style.color = "#000";
   document.getElementById("moeny2").firstChild.style.fontWeight = "bold"
</script>
{% endblock %}
{% block content %}
<div class="col-12 text-end pe-2">
   <a href="{{ url_for('clear_page', i='money') }}">clear</a>
   <a href="{{ url_for('download_page', i='money') }}">⇩</a>
</div>
<form id="my_form" method="POST" class="form-register">
{{ form.hidden_tag() }}
<div class="container-fluid px-2 pt-2" style="font-size:12px">
<div class="row">
<div class="col-12">
      <!-- {-{-}-} can access varibles from URL -->
      <table class="table border border-1">
         <thead>
            <tr>
               <!-- Your Columns HERE -->
               <th scope="col">{{ timezone[4:10] }}</th>
               <th scope="col">Sym</th>
               <th scope="col">Item</th>
               <th scope="col">Price</th>
               <th>B</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for record in records %}
            <tr>

               <td>{{ a[record.id][0:11] }}</td>
               <td>{{ record.type }}</td>
               <td>{{ record.item }}</td>
               <td>{{ record.price }}</td>
               <td>{{ balance[record.id] }}</td>
               <td>
                  <input style="display:none" name="del_id" id="ch{{ record.id }}" type="radio" value="{{ record.id }}">
                  <a href="javascript:{}" onclick="
                              document.getElementById('ch{{ record.id }}').checked = true;
                              document.getElementById('my_form').submit();
                              ">
                     x
                  </a>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
</div>
</form>
{% endblock %}
