{% extends 'base.html' %}


{% block nav %}
<div class="container-fluid p-0 m-0">
    <div class="row border-bottom border-dark" style="height:40px">
        <div id="body1" class="col-3 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('body_input_page') }}" style="color: #fff">Body</a></div>
        <div id="body2" class="col-3 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('body_food_page') }}" style="color: #fff">Food</a></div>

    </div>
</div>
{% endblock %}

