{% extends 'base.html' %}


{% block nav %}
<div class="container-fluid p-0 m-0">
    <div class="row border-bottom border-dark" style="height:40px">
        {% if current_user.id == 1 %}
        <div id="lan1" class="col-2 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('lan_english_convert_page') }}" style="color: #fff">English</a></div>

        <div id="lan22" class="col-2 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('lan_English_records_page') }}" style="color: #fff">Words</a></div>

        <div id="lan3" class="col-2 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('lan_English_add_page') }}" style="color: #fff">Add</a></div>
        <div id="lan5" class="col-2 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('lan_English_sen_add_page') }}" style="color: #fff">Sen</a></div>
        <div id="lan6" class="col-2 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('lan_English_sen_records_page') }}" style="color: #fff">SenRec</a></div>
        <div id="lan4" class="col-2 text-center pt-2" style="background-color: #aaa"><a href="{{ url_for('lan_English_type_page') }}" style="color: #fff">Types</a></div>
        {% else %}
        <div id="lan1" class="col-4 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('lan_english_convert_page') }}" style="color: #fff">English</a></div>
        <div id="lan22" class="col-4 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('lan_English_records_page') }}" style="color: #fff">Words</a></div>
        <div id="lan22" class="col-4 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('lan_English_info_page') }}" style="color: #fff">Info</a></div>

        {% endif %}
    </div>
</div>
{% endblock %}

