{% extends 'base.html' %}


{% block nav %}
<div class="container-fluid p-0 m-0">
    <div class="row border-bottom border-dark" style="height:40px">
        <div id="time1" class="col-3 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('time_checkout_page') }}" style="color: #fff">Time</a></div>
        <div id="time2" class="col-3 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('time_records_page') }}" style="color: #fff">Records</a></div>
        <div id="time3" class="col-3 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('time_report_page') }}" style="color: #fff">Report</a></div>
        <div id="time4" class="col-3 text-center pt-2" style="background-color: #aaa"><a href="{{ url_for('time_settings_page') }}" style="color: #fff">Settings</a></div>
    </div>
</div>
{% endblock %}

