{% extends 'base.html' %}


{% block nav %}
<div class="container-fluid p-0 m-0">
    <div class="row border-bottom border-dark" style="height:40px">
        <div id="money1" class="col-3 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('money_input_page') }}" style="color: #fff">Money</a></div>
        <div id="money2" class="col-3 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('money_records_page') }}" style="color: #fff">Records</a></div>
        <div id="money3" class="col-3 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('money_buyinglist_page') }}" style="color: #fff">BuyingList</a></div>
        <div id="money4" class="col-3 text-center pt-2" style="background-color: #aaa"><a href="{{ url_for('money_settings_page') }}" style="color: #fff">Settings</a></div>
    </div>
</div>
{% endblock %}

