{% extends 'base.html' %}


{% block nav %}
<div class="container-fluid p-0 m-0">
    <div class="row border-bottom border-dark" style="height:40px">
        <div id="lan1" class="col-3 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('lan_thai_convert_page') }}" style="color: #fff">Thai</a></div>
        <div id="lan22" class="col-3 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('lan_thai_records_page') }}" style="color: #fff">Words</a></div>
        <div id="lan3" class="col-3 text-center pt-2 border-dark border-end" style="background-color: #aaa"><a href="{{ url_for('lan_thai_add_page') }}" style="color: #fff">Add</a></div>
        <div id="lan4" class="col-3 text-center pt-2" style="background-color: #aaa"><a href="{{ url_for('lan_thai_type_page') }}" style="color: #fff">Types</a></div>
    </div>
</div>
{% endblock %}