{% extends 'nav_dairy.html' %}
{% block title %}
Note Tasks
{% endblock %}

{% block js %}
<script type="text/javascript">
   document.getElementById("dm4").style.backgroundColor = "#fff";
   document.getElementById("dm4").firstChild.style.color = "#000";
   document.getElementById("dm4").firstChild.style.fontWeight = "bold"
</script>
{% endblock %}

{% block content %}
<div class="container-fluid p-0 text-center mt-3 pb-4">
   <form method="POST" class="form">
      {{ form.hidden_tag() }}
      <div class="row border border-dark px-1 mx-1">
         <div class="col-12 py-1">
             <div class="me-2" style="float:left">Task:</div>
             <div class="me-4" style="float:left"><input style="width:200px" type="text" name="task"></div>
             <div style="float:left">{{ form.submit(class="btn btn-primary btn-sm", style="font-size:12px") }}</div>
         </div>
      </div>
   </form>
</div>
{% if list.first() %}
<div class="container-fluid p-0">
<form method="POST" class="form-register">
   {{ form2.hidden_tag() }}
   <div class="row row border border-dark px-1 mx-1 mt-2 pb-2">
      <div class="col-6 px-1">
         <table class="table">
            <thead>
               <tr>
                  <th></th>
                  <th>Item</th>
               </tr>
            </thead>
            <tbody>
               {% for l in list %}
               <tr>
                  <td><input type="radio" id="{{ l.task }}" name="del_selected" value="{{ l.task }}"></td>
                  <td><label for="{{ l.task }}">{{ l.task }}</label></td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
      <div class="col-6 pt-2 text-center">

            {{ form2.submit(class="btn btn-block btn-danger", value="Delete Tag") }}

      </div>
   </div>
</form>
</div>
{% endif %}
{% endblock %}