{% extends 'nav_note.html' %}
{% block title %}
Note Input
{% endblock %}

{% block js %}
<script type="text/javascript">
   document.getElementById("note1").style.backgroundColor = "#fff";
   document.getElementById("note1").firstChild.style.color = "#000";
   document.getElementById("note1").firstChild.style.fontWeight = "bold"
</script>
{% endblock %}


{% block content %}
<form method="POST" class="form-register">
{{ form.hidden_tag() }}
<div class="container text-start">
    <div class="row">
        <div class="col-12 pt-1 pb-1 text-start">
            Title: <input type="text" name="title" placeholder="Title">
        </div>

        <div class="col-12 text-start pt-2">
        <textarea class="form-control" name="content" rows="10" placeholder="text"></textarea>
        </div>

        <div class="col-12 pt-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row">
    {% for type in types %}
        <div class="col-4 mt-1 border">
            <input type="radio" id="{{type.sub_type}}" name="sub_type" checked value="{{type.sub_type}}">
            <br>
            <label for="{{type.sub_type}}"><span style="font-size:10px;">{{ type.type }}</span>-{{ type.sub_type }}</label>
        </div>
    {% endfor %}
    </div>
</div>
</form>

{% endblock %}