{% extends 'nav_time.html' %}
{% block title %}
Report
{% endblock %}
{% block js %}
<script type="text/javascript">
   document.getElementById("time3").style.backgroundColor = "#fff";
   document.getElementById("time3").firstChild.style.color = "#000";
   document.getElementById("time3").firstChild.style.fontWeight = "bold"
</script>
{% endblock %}
{% block content %}
{% if have %}
<div class="container-fluid px-1 pt-2">
   <div class="row">
      <div class="col-12 text-center">
         <h3>Current Month Time Usage</h3>
      </div>
   </div>
   <div class="row">
      <div class="col-12">
         <table class="table border border-dark text-center">
            <thead>
               <tr>
                  <th scope="col" class="border-end border-dark">Unproductive</th>
                  <th scope="col" class="border-end border-dark">Productive</th>
                  <th scope="col" class="">Sleep & Rest</th>
               </tr>
            </thead>
            <tbody>
               <!-- Your rows inside the table HERE: -->
               <tr>
                  <td class="border-end border-dark text-start">
                     <span>Total: </span><strong>{{ sum[0] }}</strong>
                     <br>
                     <span>Percent: </span><strong>{{ sum[4] }}</strong>
                  </td>
                  <td class="border-end border-dark text-start">
                     <span>Total: </span><strong>{{ sum[1] }}</strong>
                     <br>
                     <span>Percent: </span><strong>{{ sum[5] }}</strong>
                  </td>
                  <td class="border-dark text-start">
                     <span>Total: </span><strong>{{ sum[2] }}</strong>
                     <br>
                     <span>Percent: </span><strong>{{ sum[6] }}</strong>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
{% for k in report %}
<div class="container-fluid mt-2">
   <div class="row text-start border border-dark px-1 mx-2 pb-2">
      <div class="col-12 text-center">
         <h1 class="col-12">{{ k.year_date }}</h1>
      </div>
      <div class="col-4 fw-bold"> UN: {{ k.type_un }}<br> {{ k.percent_un }}</div>
      <div class="col-4 fw-bold"> PR: {{ k.type_pr }}<br> {{ k.percent_pr }}</div>
      <div class="col-4 fw-bold"> SL: {{ k.type_sl }}<br> {{ k.percent_sl }}</div>
      {% for re in a %}
      {% if re == k.id %}
      {% for t in a[re] %}
      <div class="col-3 border border-mute"><strong>{{ t }}</strong><br><span>{{ a[re][t].split(",", 2)[0] }}, </span>{{ a[re][t].split(",", 2)[1] }}</div>
      {% endfor %}
      {% endif %}
      {% endfor %}
   </div>
</div>
{% endfor %}
{% else %}
<div class="container-fluid px-1 pt-2">
   <div class="row">
      <div class="col-12">
         <div class="card mx-auto" style="width: 25rem;">
            <div class="card-body">
               <h5 class="card-title text-start">Warning</h5>
               <p class="card-text text-start">You have no records to show, go to "CheckOut" to create record</p>
               <a href="{{ url_for('time_checkout_page') }}" class="btn btn-primary">Go to "CheckOut"</a>
            </div>
         </div>
      </div>
   </div>
</div>
{% endif %}
{% endblock %}