{% extends 'nav_time.html' %}
{% block title %}
Setting Page
{% endblock %}
{% block js %}
<script type="text/javascript">
   document.getElementById("time4").style.backgroundColor = "#fff";
   document.getElementById("time4").firstChild.style.color = "#000";
   document.getElementById("time4").firstChild.style.fontWeight = "bold"
</script>
{% endblock %}
{% block content %}
<div class="container-fluid p-0 text-center">
<form method="POST" class="form">
   <div class="row border border-dark px-1 mx-1 mt-2">
      <div class="col-12">
         {{ form.hidden_tag() }}
         <table class="table">
            <thead>
               <tr>
                  <th class="text-start">Type</th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><input checked type="radio" name="setting_type" id ="UN" value="UN"></td>
                  <td class="text-start"><label for="UN">Un = Unproductive</label></td>
               </tr>
               <tr>
                  <td><input type="radio" name="setting_type" id ="PR" value="PR"></td>
                  <td class="text-start"><label for="PR">PR = Productive</label></td>
               </tr>
               <tr>
                  <td><input type="radio" name="setting_type" id ="SL" value="SL"></td>
                  <td class="text-start"><label for="SL">SL = Sleep & Rest</label></td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="col-12">
         <table class="table">
            <thead>
               <tr>
                  <th class="text-start">Tag</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>{{ form.setting_tag(class="form-check", placeholder="Tag Name") }}</td>
               </tr>
               <tr>
                  <td>{{ form.submit(class="btn btn-block btn-primary") }}</td>
               </tr>
         </table>
      </div>
   </div>
</form>
</div>
{% if tags.first() %}
<div class="container-fluid p-0">
   <form method="POST" class="form-register">
      {{ form2.hidden_tag() }}
      <div class="row row border border-dark px-1 mx-1 mt-2 pb-2">
         <div class="col-6 px-1">
            <table class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th>Tag</th>
                     <th>Type</th>
                  </tr>
               </thead>
               <tbody>
                  {% for tag in tags %}
                  <tr>
                     {% if tag.type=="UN" %}
                     <td><input type="radio" id="{{ tag.tag }}" name="selecting_tag" value="{{ tag.tag }}"></td>
                     <td class="text-start">{{tag.tag}}</td>
                     <td style="color:#aaa">{{ tag.type }}</td>
                     {% endif %}
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         <div class="col-6 px-1">
            <table class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th>Tag</th>
                     <th>Type</th>
                  </tr>
               </thead>
               <tbody>
                  {% for tag in tags %}
                  <tr>
                     {% if tag.type!="UN" %}
                     <td><input type="radio" id="{{ tag.tag }}" name="selecting_tag" value="{{ tag.tag }}"></td>
                     <td class="text-start">{{tag.tag}}</td>
                     <td style="color:#aaa">{{ tag.type }}</td>
                     {% endif %}
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         <div class="col-12 pb-5">
            <input type="hidden" name="submit" value="1">
            {{ form2.submit(class="btn btn-block btn-danger", value="Delete Tag") }}
         </div>
      </div>
   </form>
</div>
{% endif %}
<div class="container-fluid p-0">
   <form method="POST" class="form-register">
      {{ form3.hidden_tag() }}
      <div class="row row border border-dark px-1 mx-1 mt-2">
         <div class="col-12 mt-3 text-start">
            <p>Current Timezone is: <strong> {{ timezone[4:10] }}</strong></p>
         </div>
         <div class="col-12 pb-3">
            <select class="form-select" name="timezone" aria-label="GMT-8">
               <option value="Etc/GMT-14">GMT+14</option>
               <option value="Etc/GMT-13">GMT+13</option>
               <option value="Etc/GMT-12">GMT+12, </option>
               <option value="Etc/GMT-11">GMT+11, New Zealand</option>
               <option value="Etc/GMT-10">GMT+10, Sydney</option>
               <option value="Etc/GMT-9">GMT+9, Japan, Korea</option>
               <option value="Etc/GMT-8">GMT+8, China, Philippine</option>
               <option value="Etc/GMT-7">GMT+7, Thailand, Laos</option>
               <option value="Etc/GMT-6">GMT+6, Kazakhstan</option>
               <option value="Etc/GMT-5">GMT+5, Pakistan</option>
               <option value="Etc/GMT-4">GMT+4, Oman</option>
               <option value="Etc/GMT-3">GMT+3, Moscow, Turkey</option>
               <option value="Etc/GMT-2">GMT+2, Egypt, Ukraine</option>
               <option value="Etc/GMT-1">GMT+1, Germany, France, Sweden</option>
               <option selected value="Etc/GMT-0">GMT-0, London, Iceland</option>
               <option value="Etc/GMT+1">GMT-1</option>
               <option value="Etc/GMT+2">GMT-2</option>
               <option value="Etc/GMT+3">GMT-3, Sao Paulo, Greenland</option>
               <option value="Etc/GMT+4">GMT-4, Caracas, Buenos Aires</option>
               <option value="Etc/GMT+5">GMT-5, New York, Toronto, Lima</option>
               <option value="Etc/GMT+6">GMT-6, Mexico City, Chicago</option>
               <option value="Etc/GMT+7">GMT-7, Denver, Edmonton</option>
               <option value="Etc/GMT+8">GMT-8, Los Angeles, Vancouver</option>
               <option value="Etc/GMT+9">GMT-9, Anchorage</option>
               <option value="Etc/GMT+10">GMT-10, Hawaii</option>
               <option value="Etc/GMT+11">GMT-11</option>
               <option value="Etc/GMT+12">GMT-12</option>
            </select>
            {{ form3.submit(class="btn btn-block mt-3 btn-success", value="Change Timezone") }}
         </div>
      </div>
   </form>
</div>
{% endblock %}