{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 text-center">
<form method="POST" class="form">
   <div class="row border border-dark px-1 mx-1 mt-2">
      <div class="col-12">
          {% csrf_token %}
          <input type="hidden" name="form_type" value="settings_form">
         <table class="table">
            <tbody>
               <tr>
                  <td class="text-start"><input checked type="radio" name="setting_type" id ="UN" value="UN">&nbsp;&nbsp;Unproductive</td>
                  <td class="text-start"><input type="radio" name="setting_type" id ="PR" value="PR">&nbsp;&nbsp;Productive</td>
                  <td class="text-start"><input type="radio" name="setting_type" id ="RS" value="RS">&nbsp;&nbsp;Rest</td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="col-5 pe-3 text-start">{{ form.setting_tag }}</div>
      <div class="col-4"><button type="submit" class="btn btn-primary mb-2">Submit</button></div>
   </div>
</form>
</div>






<div class="container-fluid p-0">
   <form method="POST" class="form-register">
       {% csrf_token %}
       <input type="hidden" name="form_type" value="delete_tag_form">
      <div class="row row border border-dark px-1 mx-1 mt-2 pb-2">
         <div class="col-6 px-1">
            <table class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th>Tag</th>
                     <th>Type</th>
                  </tr>
               </thead>
               <tbody>
                  {% for tag in tags %}
                  <tr>
                     {% if tag.type == "UN" %}
                     <td><input type="radio" id="{{ tag.tag }}" name="selecting_tag" value="{{ tag.tag }}"></td>
                     <td class="text-start">{{tag.tag}}</td>
                     <td style="color:#aaa">{{ tag.type }}</td>
                     {% endif %}
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         <div class="col-6 px-1">
            <table class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th>Tag</th>
                     <th>Type</th>
                  </tr>
               </thead>
               <tbody>
                  {% for tag in tags %}
                  <tr>
                     {% if not tag.type == "UN" %}
                     <td><input type="radio" id="{{ tag.tag }}" name="selecting_tag" value="{{ tag.tag }}"></td>
                     <td class="text-start">{{tag.tag}}</td>
                     <td style="color:#aaa">{{ tag.type }}</td>
                     {% endif %}
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         <div class="col-12 pb-5">
            <input type="hidden" name="submit" value="1">
             <button type="submit" class="btn btn-danger">Delete</button>
         </div>
      </div>
   </form>
</div>

<div class="container-fluid p-0">
   <div class="row row border border-dark px-1 mx-1 mb-1 mt-2">
         <div class="col-12 mt-3 text-start">
            <form method="POST" class="form-register">
               {% csrf_token %}
               <input type="hidden" name="form_type" value="change_timezone_form">
               {{ form3.as_p }}
               <button type="submit" class="btn btn-primary mb-3">submit</button>
            </form>
         </div>
      </div>
</div>

<div class="container-fluid p-0">
   <div class="row row border border-dark px-1 mx-1 mb-1 mt-2">
         <div class="col-12 mt-3 text-start">
            <form method="POST" class="form-register">
               {% csrf_token %}
               <input type="hidden" name="form_type" value="medicine_name_form">
               {{ form4.as_p }}
               <button type="submit" class="btn btn-primary mb-3">submit</button>
            </form>
         </div>
      </div>
</div>




<div class="container-fluid p-0 mb-2">
   <form method="POST" class="form-register">
       {% csrf_token %}
       <input type="hidden" name="form_type" value="delete_med_form">
      <div class="row row border border-dark px-1 mx-1 mt-2 pb-2">
         {% for med in med_names %}
         <div class="col-2 px-1 text-center">
            <input type="radio" id="{{ med.id }}" name="selecting_med" value="{{ med.id }}">
            {{med.name}}
         </div>
         {% endfor %}
         <div class="col-12 py-2">
            <input type="hidden" name="submit" value="1">
             <button type="submit" class="btn btn-danger">Delete</button>
         </div>
      </div>
   </form>
</div>
{% endblock %}

