{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 text-center">
<form method="POST" class="form">
   <div class="row border border-dark px-1 mx-1 mt-2">
      <div class="col-12">
          {% csrf_token %}
          <input type="hidden" name="form_type" value="settings_form">
         <table class="table">
            <thead>
               <tr>
                  <th class="text-start">Type</th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><input checked type="radio" name="setting_type" id ="UN" value="UN"></td>
                  <td class="text-start"><label for="UN">Un = Unproductive</label></td>
               </tr>
               <tr>
                  <td><input type="radio" name="setting_type" id ="PR" value="PR"></td>
                  <td class="text-start"><label for="PR">PR = Productive</label></td>
               </tr>
               <tr>
                  <td><input type="radio" name="setting_type" id ="SL" value="SL"></td>
                  <td class="text-start"><label for="SL">SL = Sleep & Rest</label></td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="col-12">
         <table class="table">
            <thead>
               <tr>
                  <th class="text-start">Tag</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                      {{ form.setting_tag }}
                  </td>
               </tr>
               <tr>
                  <td>
                      <button type="submit" class="btn btn-secondary">Submit</button>
                  </td>
               </tr>
         </table>
      </div>
   </div>
</form>
</div>
<div class="container-fluid p-0">
   <form method="POST" class="form-register">
       {% csrf_token %}
       <input type="hidden" name="form_type" value="delete_tag_form">
      <div class="row row border border-dark px-1 mx-1 mt-2 pb-2">
         <div class="col-6 px-1">
            <table class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th>Tag</th>
                     <th>Type</th>
                  </tr>
               </thead>
               <tbody>
                  {% for tag in tags %}
                  <tr>
                     {% if tag.type == "UN" %}
                     <td><input type="radio" id="{{ tag.tag }}" name="selecting_tag" value="{{ tag.tag }}"></td>
                     <td class="text-start">{{tag.tag}}</td>
                     <td style="color:#aaa">{{ tag.type }}</td>
                     {% endif %}
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         <div class="col-6 px-1">
            <table class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th>Tag</th>
                     <th>Type</th>
                  </tr>
               </thead>
               <tbody>
                  {% for tag in tags %}
                  <tr>
                     {% if not tag.type == "UN" %}
                     <td><input type="radio" id="{{ tag.tag }}" name="selecting_tag" value="{{ tag.tag }}"></td>
                     <td class="text-start">{{tag.tag}}</td>
                     <td style="color:#aaa">{{ tag.type }}</td>
                     {% endif %}
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         <div class="col-12 pb-5">
            <input type="hidden" name="submit" value="1">
             <button type="submit" class="btn btn-secondary">Delete</button>
         </div>
      </div>
   </form>
</div>

<div class="container-fluid p-0">
   <div class="row row border border-dark px-1 mx-1 mb-1 mt-2">
         <div class="col-12 mt-3 text-start">
            <form method="POST" class="form-register">
               {% csrf_token %}
               <input type="hidden" name="form_type" value="change_timezone_form">
               {{ form3.as_p }}
               <button type="submit" class="btn btn-secondary mb-3">Change Time Zone</button>
            </form>
         </div>
      </div>
</div>

{% endblock %}

