{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <p>
          <br/><br/>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet gravida est. Mauris pellentesque id quam id sollicitudin. Praesent tristique nibh in diam vestibulum hendrerit. In mollis elit in felis sodales, eu rutrum purus faucibus. Morbi ex purus, pulvinar ut nibh vitae, iaculis dapibus leo. Phasellus ut tellus ut urna interdum tristique. Integer sit amet tortor turpis. Nullam est nibh, tristique vel tortor non, rhoncus hendrerit felis. Mauris hendrerit orci eleifend nunc dictum posuere. Ut sodales, magna id varius porta, felis sem ultrices lectus, eget ornare diam justo eu quam. Quisque at dapibus diam. Suspendisse elementum, ligula eu molestie mattis, lacus risus convallis lorem, vitae ullamcorper ligula nisl non nisl.
          <br/><br/>
          Praesent lacinia, urna vel dictum sodales, quam nisl vulputate urna, eget pharetra orci erat ut urna. Nam sed sapien ut ipsum dignissim aliquet. Morbi tristique lacus eu elit tincidunt, nec rhoncus est faucibus. Maecenas convallis ultricies viverra. Vestibulum posuere orci risus. Sed feugiat nulla in semper viverra. Quisque tincidunt nunc facilisis iaculis porttitor. Phasellus vel volutpat dui. Sed nisi sem, pulvinar in odio sit amet, auctor iaculis odio. Morbi tincidunt felis sit amet sapien congue, et sagittis sapien fringilla. Aliquam sit amet iaculis ligula, sed tempor magna. Curabitur lacinia auctor tempus.
          <br/><br/>
          Maecenas nisi nunc, ornare non nulla vitae, dignissim tristique risus. Aenean vel cursus dui. Integer cursus cursus metus sed gravida. Proin turpis metus, luctus at suscipit vitae, dapibus eu mi. Phasellus finibus justo eu euismod hendrerit. Nulla facilisi. Etiam eleifend, leo vitae eleifend feugiat, dolor purus aliquet ante, ac laoreet odio mi ut ipsum. Pellentesque semper tortor sit amet interdum sollicitudin.
          <br/><br/>
        </p>
      </div>
    </center>
  </div>
</div>

{% endblock %}