{% extends 'base.html' %}
{% block content %}
<style>
    .breadcrumbs{
        color: #000;
        text-decoration: none;
    }
</style>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-2 row-cols-xl-4 justify-content-center">

    {% for blogpost in blogposts %}
    <div class="col-md-3 pb-4">
        <div class="card h-100 d-flex flex-column">
            <a class="unstyle_a_tag" href="{% url 'view_post' blogpost.id %}">
            <img class="card-img-top" src="{{ blogpost.image.url }}" alt="..."/>
            <div class="card-body pt-3 pb-0">
                <h3 class="fw-bolder">{{ blogpost.title }}</h3>
            </div>
            </a>

            <!-- Spacer to push the timestamp to bottom -->
            <div class="flex-grow-1"></div>

            <!-- Timestamp at the bottom -->
            <div class="text-end timestamp px-3 pb-2">
                <span>{{ blogpost.date_created|date:"Y-m-d | H:i" }}</span>
            </div>
        </div>
    </div>

    {% endfor %}

    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const slashElement = document.getElementById("home_slash");
    if (slashElement) {
        slashElement.remove(); // Removes the entire <span> element
    }
});
</script>

{% endblock %}