{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span>Username:</span>
            <span style="font-size: 20px;">{{ request.user }}</span>
            <br/>
            Email:</span>
            <span style="font-size: 20px;">{{ request.user.email }}</span>
            <br/>
            <br/>
            <span>Joined UTC:</span>
            <span style="font-size: 20px;"> {{ request.user.date_joined|date:"Y-m-d  (H:i)" }}</span>
            <br/>
            {% load tz %}
            <span>Display at {{ request.user.profile.timezone }}:</span>
            <span style="font-size: 20px;"> {{ request.user.date_joined|timezone:request.user.profile.timezone|date:"Y-m-d  (H:i)" }}</span>
            <br/><br/>
            <form method="POST" action="{% url 'update_user' %}">
                {% csrf_token %}
                {{ user_form.as_p }}
                <br/>
                <button type="submit" class="btn btn-secondary">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}