{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <br/><br/>



        <div class="card">
          <div class="card-header">
            Order {{ order.id }} - ${{ order.amount_paid }}
          </div>
          <div class="card-body">
            Email: {{ order.email }}<br/>
            {% if order_date_shipped %}
            Date Shipped: {{ order.date_shipped }}<br/>
            {% else %}
            Date Ordered: {{ order.date_ordered }}<br/>
            {% endif %}
            <br/>
            Full Name: {{ order.full_name }}<br/>
            <pre>Shipping Address: {{ order.shipping_address }}</pre><br/>
            <br/><br/>
            {% for item in items %}
              {{ item.product }} - {{ item.quantity }} - $ {{ item.price }}<br/>
            {% endfor %}

            <br/><br/>

            <form method="POST">
              {% csrf_token %}
              {% if not order.shipped %}
              <input type="hidden" name="shipping_status" value="true">
              <button type="submit" class="btn btn-success">Mark As Shipped</button>
              {% else %}
              <input type="hidden" name="shipping_status" value="false">
              <button type="submit" class="btn btn-danger">Mark As Un-Shipped</button>
              {% endif %}
            </form>


          </div>
        </div>



        <br/><br/>
      </div>
    </center>
  </div>
</div>
{% endblock %}